# Exports
import(data.table)
import(logging)

# PredictoRParams
S3method(PredictoRParams, default)
S3method(print, PredictoRParams)

# PredictoROutput
S3method(PredictoROutput, PredictoRParams)
S3method(print, PredictoROutput)

# PredictoR
S3method(PredictoR, PredictoRParams)
S3method(print, PredictoR)
S3method(BuildFeatures, PredictoR)
S3method(BuildTestData, PredictoR)
S3method(Execute, PredictoR)

# Exports
export(PredictoRParams)
export(PredictoROutput)
export(PredictoR)
export(BuildFeatures)
export(BuildTestData)
export(Execute)
